@{
    ViewData["Title"] = "Home Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {


        $("#auto").autocomplete({
            source: function (request, response) {
                
                $.ajax({
                    url: '@Url.Action("GetAuto")',
                    dataType: "json",
                    data: {
                        term: request.term
                    },
                    success: function (result) {
                        console.log(result);

                        response(result);
                    }
                });
            },
            minLength: 2,
            select: function (event, ui) {
                $.ajax({
                    type: 'GET',
                    dataType: 'html',
                    data: {
                        auto: ui.item.value
                    },
                    url: '@Url.Action("GetLocations")',
                    success: function (result) {
                        console.log(result);
                        $('#log').html(result);
                    }
                });
            }
        });
        $("#auto2").submit(function (event) {
            event.preventDefault();
            $.ajax({
                type: 'GET',
                dataType: 'html',
                data: $(this).serialize(),
                url: '@Url.Action("GetLocations")',
                success: function (result) {
                    $('#log').html(result);
                }
            });
        });
    });
</script>

    <h3>Create a New Route!</h3>
    <h4>Are the Origin and Destination the same?</h4>
    <form>

    </form>

    //If they say yes one form, if not then different form?  Need show hide....

    <form id="newOrigin">
        <label for="originAddress">Street Address</label>
        <input id="originAddress" name="originAddress">

        <label for="originCity">City</label>
        <input id="originCity" name="originCity">

        <label for="originState">State Abbreviation</label>
        <input id="originState" name="originState">

        <button type="submit">Submit</button>
    </form>

<form id="newOriginDest">
    <h5>Origin</h5>
    <label for="originAddress">Street Address</label>
    <input id="originAddress" name="originAddress">

    <label for="originCity">City</label>
    <input id="originCity" name="originCity">

    <label for="originState">State Abbreviation</label>
    <input id="originState" name="originState">

    <h5>Destination</h5>
    <label for="destAddress">Street Address</label>
    <input id="destAddress" name="destAddress">

    <label for="destCity">City</label>
    <input id="destCity" name="destCity">

    <label for="destState">State Abbreviation</label>
    <input id="destState" name="destState">

    <button type="submit">Submit</button>
</form>

    <div class="ui-widget">
        <form id="auto2">
            <label for="auto">Write In: </label>
            <input id="auto" name="auto">
            <button type="submit">Submit</button>
        </form>
    </div>

    <div class="ui-widget" style="margin-top:2em; font-family:Arial">
        Results:
        <div id="log"></div>
    </div>




