@{
    ViewData["Title"] = "Home Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        $(".loader").hide();
        $("#createRoute").click(function(event) {
            $(".loader").show();

        });
    });
</script>
<div class="container">
    <img class="logo" src="~/img/Routey Logo2.png" alt="Routey Logo" />
    <hr />
    <br />

    <h3>Create a New Route!</h3>
    <div id="createRoute">
        @Html.ActionLink("Create a New Route!", "Route")
    </div>

    <div class="preloader-wrapper big active loader">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>