@{
    ViewData["Title"] = "Home Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {


        $("#auto").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("GetAuto")',
                    dataType: "json",
                    data: {
                        term: request.term
                    },
                    success: function (result) {
                        console.log(result);

                        response(result);
                    }
                });
            },
            minLength: 2,
            select: function (event, ui) {
                $.ajax({
                    type: 'GET',
                    dataType: 'html',
                    data: {
                        value: ui.item.value 
                    },
                    url: '@Url.Action("GetLocations")',
                    success: function (result) {
                        $('#log').html(result);
                    }
                });
            }
        });
    });
</script>


    <div class="ui-widget">
        <label for="auto">Write In: </label>
        <input id="auto">
        
    </div>

    <div class="ui-widget" style="margin-top:2em; font-family:Arial">
        Results:
        <div id="log"></div>
    </div>




